@page "/personal/register"

@using Personal_WebAssembly.Models
@using Personal_WebAssembly.Interfaces

@inject IAuthenticationRepo _auth;
@inject NavigationManager UriHelper;




<h3 class="card-title">Register</h3>


@if (isFailed == true)
{
    <BSAlert Color="Color.Danger">@massage </BSAlert>

}


<div class="card-body">
    <EditForm Model="Model" OnValidSubmit="HandleRegistration">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="email">Email Address</label>
            <InputText Id="email" class="form-control" @bind-Value="Model.Username" />
            <ValidationMessage For="@(() => Model.Username)" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText Id="password" type="password" class="form-control" @bind-Value="Model.Password" />
            <ValidationMessage For="@(() => Model.Password)" />
        </div>
        <div class="form-group">
            <label for="confirmpassword">Confirm Password</label>
            <InputText Id="confirmpassword" type="password" class="form-control" @bind-Value="Model.ConfirmPass" />
            <ValidationMessage For="@(() => Model.ConfirmPass)" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Save</button>

    </EditForm>
</div>







@code {


    private Register_Personal Model = new Register_Personal();

    protected bool response { get; set; }
    protected bool isFailed { get; set; }
    protected string massage { get; set; }


    private async Task HandleRegistration()
    {

        isFailed = IsAlphaNum(Model.Password);
        if(isFailed == true)
        {
            this.massage = "Alphanumeric Password Required ( numbers, letters, and special characters )";
        }
        else
        {
            try
            {
                response = await _auth.Register(Model);
                if (response)
                {
                    UriHelper.NavigateTo("/");
                }
            }
            catch
            {
                this.massage = "Connection to Database Lost";
                isFailed = true;
            }
            
        }



    }

    public static bool IsAlphaNum(string str)
    {

        if (string.IsNullOrEmpty(str))
            return false;

        for (int i = 0; i < str.Length; i++)
        {
            if (!(char.IsLetter(str[i])) && (!(char.IsNumber(str[i]))))
                return false;
        }

        return true;
    }

}
